<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--Addresses-->
    <add key="BaseUrl" value="https://datorhydda/inca/api/External/Navigation"/>
    <add key="StartPageUrl" value="/StartPage"/>
    <add key="PatientUrl" value="/Patient"/>
    <add key="FormUrl" value="/Form"/>
    <!--Credentials and parameters-->
    <add key="Username" value="oc5hoer"/>
    <add key="OrganizationName" value="OC"/>
    <add key="PositionShortName" value="SHORTNAME_33"/>
    <add key="RoleShortName" value="Monitor (Kval)"/>
    <add key="RegisterShortName" value="Datatypsregister"/>
    <add key="FormRegisterShortName" value="Datatypsregister"/>
    <add key="FormShortName" value="Datatypsformulär-tumör"/>
  </appSettings>
</configuration>
